{% extends 'base.html.twig' %}

{% block title %}Editer Experience{% endblock %}

{% block body %}
    <h1>Editer Experience</h1>

    {{ include('exp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exp_index') }}" class="btn btn-secondary">Retour a la liste</a>

    {{ include('exp/_delete_form.html.twig') }}
{% endblock %}
