{% extends 'base.html.twig' %}

{% block title %}New Exp{% endblock %}

{% block body %}
    <h1>Create new Exp</h1>

    {{ include('exp/_form.html.twig') }}

    <a href="{{ path('exp_index') }}">back to list</a>
{% endblock %}
