{% extends 'base.html.twig' %}

{% block title %}Creation nouveau experience{% endblock %}

{% block body %}
    <h1>Creation nouveau experience</h1>

    {{ include('exp/_form.html.twig') }}

    <a href="{{ path('exp_index') }}" class="btn btn-secondary" >Retour a la aliste </a>
{% endblock %}
