{% extends 'base.html.twig' %}

{% block title %}Creer nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Creer nouveau utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }} class="btn btn-secondary"">Retour a la liste des utilisateur</a>
{% endblock %}
